#contener {
    float: left;
    width: 550px;
    height: 370px;
    text-align: center;
}

#gildia {
    float: left;
    width: 200px;
    height: 200px;
}

#Drewno {
    float: left;
    width: 200px;
    height: 200px;
}

#metal {
    float: left;
    width: 200px;
    height: 200px;
}

#iedzenie {
    float: left;
    width: 200px;
    height: 200px;
}

#kont {
    float: right;
}

#level {
    margin-top: 50px;
    width: 200px;
    height: 200px;
}

#nick {
    width: 200px;
    height: 200px;
}

#wioska {
    float: left;
    border: 5px solid brown;
}